@use "./variables" as variables;

.header {
  grid-area: head;
  background-color: variables.$color-grey-light-1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ece8f7;

  &__logo {
    margin-left: 0 1rem;
    height: 4.6rem;
    display: block;
    @media only screen and (max-width: variables.$bp-small) {
      height: 3.4rem;
    }
  }
  @media only screen and (min-width: variables.$bp-medium) {
    padding: 0 6rem;
  }
}

.menu-btn {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  display: grid;
  padding: 0;
  display: grid;
  place-items: center;
  font-size: 3rem;
  color: variables.$color-primary;

  @media only screen and (min-width: variables.$bp-medium) {
    display: none;
  }
}

.search {
  background-color: #fff;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  transition: all 0.3s;

  &:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 3rem rgba(variables.$color-grey-dark-1, 0.08);
  }

  &__field {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.7rem;
    width: 8rem;
    padding-left: 2rem;

    &:focus {
      outline: none;
    }

    @media only screen and (max-width: variables.$bp-small) {
      padding-left: 1.5rem;
      &::placeholder {
        color: white;
      }
    }

    @media only screen and (min-width: variables.$bp-small) {
      padding-left: 3rem;
      width: 18rem;
    }

    @media only screen and (min-width: variables.$bp-medium) {
      width: 28rem;
    }

    @media only screen and (max-width: variables.$bp-medium) {
      &::placeholder {
        font-size: 1.2rem;
      }
    }
  }

  &__btn {
    font-weight: 600;
    font-family: inherit;
  }
}

.nav {
  align-self: center;
  height: 100%;

  &__list {
    list-style: none;
    display: flex;
    height: 100%;
  }

  &__item {
    position: relative;
    height: 100%;
    align-content: center;
  }

  &__btn {
    font-family: inherit;
    color: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    padding: 0 1rem;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    &--bookmarks {
      height: 100%;
    }

    svg {
      height: 100%;
      width: 1.4rem;
      fill: variables.$color-primary;

      // @media (min-width: 768px) {
      //   width: 2rem;
      //   margin-right: 1rem;
      // }
    }

    span {
      text-wrap: nowrap;
      margin-top: 0.2rem;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: variables.$color-grey-light-2;
    }

    @media only screen and (max-width: variables.$bp-medium) {
      font-size: 1rem;
      background-color: #fff;
      height: 4rem;
      width: 4rem;
      border-radius: 100%;
      overflow: hidden;

      span {
        display: none;
      }
    }
    @media only screen and (min-width: variables.$bp-medium) {
      margin-left: 1rem;
    }
  }
}

.bookmarks {
  position: absolute;
  right: 0;
  z-index: 10;
  width: 20rem;
  background-color: #ffffff;
  box-shadow: 0 0.8rem 5rem 2rem rgba(variables.$color-grey-dark-1, 0.1);

  visibility: hidden;
  opacity: 0;
  transition: all 0.5s 0.2s;

  @media only screen and (min-width: variables.$bp-medium) {
    width: 40rem;
  }

  &__list {
    list-style: none;
  }

  &__field {
    cursor: pointer;
    padding: 0 4rem;

    display: flex;
    align-items: center;
    height: 100%;
    transition: all 0.3s;

    &:hover {
      background-color: variables.$color-grey-light-2;
    }
  }

  &:hover,
  .nav__btn--bookmarks:hover + & {
    visibility: visible;
    opacity: 1;
  }
}
