@use "./variables" as variables;

.search-results {
  position: relative;
  max-height: fit-content;
  max-width: 100svw;
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  transition: all 0.3s ease;

  // @media only screen and (max-width: variables.$bp-medium) {
  //   display: none;
  // }
}

.search-results.hidden {
  display: none;
}

.results {
  list-style: none;
  margin-bottom: 2rem;
  // width: 100svw;

  @media only screen and (min-width: variables.$bp-small) and (max-width: variables.$bp-medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.pagination {
  padding: 0 3.5rem 2rem 3.5rem;

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: right;
    }
    &--next {
      float: left;
    }
  }
}
